<%- include('../layouts/header.ejs') %>
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Trang chủ</a></li>
          <li class="breadcrumb-item text-sm text-white active" aria-current="page">Thêm sản phẩm</li>
        </ol>
        <h6 class="font-weight-bolder text-white mb-0">Thêm sản phẩm</h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          <div class="input-group">
            <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Tìm kiếm...">
          </div>
        </div>
     
      </div>
    </div>
  </nav>
<div class="container">
    <div class="form">
      <form action="/create" method="POST" id="contact-form" enctype="multipart/form-data">
        <h5>Thêm sản phẩm</h5>
        <div class="form-group">
          <label for="name">Tên sản phẩm</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
          <label for="productImage">Hình ảnh</label>
          <input type="file" id="productImage" name="productImage" required>
        </div>
        <div class="form-group">
          <label for="status">Số lượng</label>
          <input type="number" id="status" name="status" required>
        </div>
        <div class="form-group">
          <label for="description">Mô tả</label>
        <textarea name="description" id="description" cols="30" rows="10"></textarea>
        </div>
       
        <button type="submit" class="button-submit">Thêm</button>
      </form>

</div>


</div>

<%- include('../layouts/footer.ejs') %>