<%- include('./layouts/header.ejs') %>

<!-- about section start -->
<div class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="about_text">About Us</h1>
        <p class="lorem_text" style="font-family: 'Times New Roman', Times, serif;">
          Chào mừng bạn đến với cửa hàng Sneaker của chúng tôi! Tại cửa hàng của
          chúng tôi, chúng tôi đam mê với thế giới của giày sneaker và cam kết
          mang đến cho bạn những đôi sneaker phong cách và chất lượng nhất. Với
          một bộ sưu tập đa dạng từ các thương hiệu uy tín và các mẫu sneaker
          mới nhất trên thị trường, chúng tôi tự tin rằng bạn sẽ tìm thấy đôi
          giày hoàn hảo để thể hiện phong cách cá nhân của mình. Chúng tôi luôn
          cập nhật và mở rộng kho hàng của mình để đáp ứng nhu cầu của cộng đồng
          sneakerhead, và đội ngũ nhân viên của chúng tôi sẽ luôn sẵn lòng hỗ
          trợ bạn trong quá trình lựa chọn sản phẩm. Hãy đến và khám phá không
          gian mua sắm đầy sáng tạo và đam mê tại cửa hàng Sneaker của chúng
          tôi. Chúng tôi hy vọng sẽ mang lại cho bạn trải nghiệm mua sắm thú vị
          và đáng nhớ!
        </p>
        <div class="read_bt1"><a href="#">Read More</a></div>
      </div>
      <div class="col-md-6">
        <div class="image_1"><img src="/images/bg0.png" /></div>
      </div>
    </div>
  </div>
</div>
<!-- about section end -->

<%- include('./layouts/footer.ejs') %>
