<%- include('./layouts/header.ejs') %>

<!-- collection section start -->
<div class="furnitures_section layout_padding">
    <div class="container">
      <h1 class="our_text">COLLECTION</h1>
      <p class="ipsum_text">Welcome to my store</p>
      <div class="furnitures_section2 layout_padding">
        <div class="row">
          <div class="col-md-6">
            <div class="container_main">
              <img src="/images/img-2.jpg" alt="Avatar" class="image" />
              <div class="overlayy">
                <!-- <a href="#" class="icon" title="User Profile">
                  <i class="fa fa-search"></i>
                </a> -->
              </div>
            </div>
            <h3 class="temper_text">Tempor incididunt ut labore et dolore</h3>
            <p class="dololr_text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
              ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            </p>
          </div>
          <div class="col-md-6">
            <div class="container_main">
              <img src="/images/img-3.jpg" alt="Avatar" class="image" />
              <div class="overlayy">
                <!-- <a href="#" class="icon" title="User Profile">
                  <i class="fa fa-search"></i>
                </a> -->
              </div>
            </div>
            <h3 class="temper_text">Tempor incididunt ut labore et dolore</h3>
            <p class="dololr_text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
              ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- collection section end -->
  
  <!-- about section start -->
  <div class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="about_text">About Us</h1>
          <p class="lorem_text" style="font-family: 'Times New Roman', Times, serif;">
            Chào mừng bạn đến với cửa hàng Sneaker của chúng tôi! Tại cửa hàng của
            chúng tôi, chúng tôi đam mê với thế giới của giày sneaker và cam kết
            mang đến cho bạn những đôi sneaker phong cách và chất lượng nhất. Với
            một bộ sưu tập đa dạng từ các thương hiệu uy tín và các mẫu sneaker
            mới nhất trên thị trường, chúng tôi tự tin rằng bạn sẽ tìm thấy đôi
            giày hoàn hảo để thể hiện phong cách cá nhân của mình. Chúng tôi luôn
            cập nhật và mở rộng kho hàng của mình để đáp ứng nhu cầu của cộng đồng
            sneakerhead, và đội ngũ nhân viên của chúng tôi sẽ luôn sẵn lòng hỗ
            trợ bạn trong quá trình lựa chọn sản phẩm. Hãy đến và khám phá không
            gian mua sắm đầy sáng tạo và đam mê tại cửa hàng Sneaker của chúng
            tôi. Chúng tôi hy vọng sẽ mang lại cho bạn trải nghiệm mua sắm thú vị
            và đáng nhớ!
          </p>
          <div class="read_bt1"><a href="#">Read More</a></div>
        </div>
        <div class="col-md-6">
          <div class="image_1"><img src="/images/bg0.png" /></div>
        </div>
      </div>
    </div>
  </div>
  <!-- about section end -->
  
  <!-- projects section start -->
  <div class="projects_section layout_padding">
    <div class="container">
      <h1 class="our_text">Outstanding</h1>
      <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="projects_section2">
              <div class="container_main2">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="container_main1">
                      <img
                        src="images/img-4.jpg"
                        alt="Avatar"
                        class="image"
                        style="width: 100%"
                      />
                      <h1 class="modern_text">Best Collection</h1>
                      <div class="middle">
                        <div class="text">VIEW MORE</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="container_main1">
                      <img
                        src="images/img-5.jpg"
                        alt="Avatar"
                        class="image"
                        style="width: 100%"
                      />
                      <h1 class="modern_text">Best Collection</h1>
                      <div class="middle">
                        <div class="text">VIEW MORE</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="container_main1">
                      <img
                        src="images/img-12.jpg"
                        alt="Avatar"
                        class="image"
                        style="width: 100%"
                      />
                      <h1 class="modern_text">Best Collection</h1>
                      <div class="middle">
                        <div class="text">VIEW MORE</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="projects_section2">
               <div class="container_main1">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="container_main1">
                      <img
                        src="images/img-5.jpg"
                        alt="Avatar"
                        class="image"
                        style="width: 100%"
                      />
                      <h1 class="modern_text">Best Collection</h1>
                      <div class="middle">
                        <div class="text">VIEW MORE</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="container_main1">
                      <img
                        src="images/img-4.jpg"
                        alt="Avatar"
                        class="image"
                        style="width: 100%"
                      />
                      <h1 class="modern_text">Best Collection</h1>
                      <div class="middle">
                        <div class="text">VIEW MORE</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="container_main1">
                      <img
                        src="images/img-12.jpg"
                        alt="Avatar"
                        class="image"
                        style="width: 100%"
                      />
                      <h1 class="modern_text">Best Collection</h1>
                      <div class="middle">
                        <div class="text">VIEW MORE</div>
                      </div>
                    </div>
                  </div>
                </div>
               </div>
            </div>
         </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#main_slider"
          role="button"
          data-slide="prev"
        >
          <i class="fa fa-angle-left"></i>
        </a>
        <a
          class="carousel-control-next"
          href="#main_slider"
          role="button"
          data-slide="next"
        >
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- projects section end -->
  <!-- client section start -->
  <div class="clients_section layout_padding">
    <div class="container">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h1 class="client_text">what is says our clients</h1>
            <div class="clients_section2 layout_padding">
              <div class="client_1">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="image_7"><img src="images/img-7.png" /></div>
                    <div class="quote_icon">
                      <img src="images/quote-icon.png" />
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <h1 class="loksans_text">loksans</h1>
                    <p class="dolor_ipsum_text">
                      ipsum dolor sit amet, consectetur adipiscing elit, sed
                      veniam, quis nostrud exercitation ullamco laboris nisi ut
                      reprehenderit in voluptate velit
                    </p>
                  </div>
                </div>
              </div>
              <div class="client_2">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="image_7"><img src="images/img-8.png" /></div>
                    <div class="quote_icon">
                      <img src="images/quote-icon.png" />
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <h1 class="loksans_text">loksans</h1>
                    <p class="dolor_ipsum_text">
                      ipsum dolor sit amet, consectetur adipiscing elit, sed
                      veniam, quis nostrud exercitation ullamco laboris nisi ut
                      reprehenderit in voluptate velit
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <h1 class="client_text">what is says our clients</h1>
            <p class="ipsum_text">
              Lorem ipsum dolor sit amet, consectetur adipiscing
            </p>
            <div class="clients_section2 layout_padding">
              <div class="client_1">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="image_7"><img src="images/img-7.png" /></div>
                    <div class="quote_icon">
                      <img src="images/quote-icon.png" />
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <h1 class="loksans_text">loksans</h1>
                    <p class="dolor_ipsum_text">
                      ipsum dolor sit amet, consectetur adipiscing elit, sed
                      veniam, quis nostrud exercitation ullamco laboris nisi ut
                      reprehenderit in voluptate velit
                    </p>
                  </div>
                </div>
              </div>
              <div class="client_2">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="image_7"><img src="images/img-8.png" /></div>
                    <div class="quote_icon">
                      <img src="images/quote-icon.png" />
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <h1 class="loksans_text">loksans</h1>
                    <p class="dolor_ipsum_text">
                      ipsum dolor sit amet, consectetur adipiscing elit, sed
                      veniam, quis nostrud exercitation ullamco laboris nisi ut
                      reprehenderit in voluptate velit
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <h1 class="client_text">what is says our clients</h1>
            <p class="ipsum_text">
              Lorem ipsum dolor sit amet, consectetur adipiscing
            </p>
            <div class="clients_section2 layout_padding">
              <div class="client_1">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="image_7"><img src="images/img-7.png" /></div>
                    <div class="quote_icon">
                      <img src="images/quote-icon.png" />
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <h1 class="loksans_text">loksans</h1>
                    <p class="dolor_ipsum_text">
                      ipsum dolor sit amet, consectetur adipiscing elit, sed
                      veniam, quis nostrud exercitation ullamco laboris nisi ut
                      reprehenderit in voluptate velit
                    </p>
                  </div>
                </div>
              </div>
              <div class="client_2">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="image_7"><img src="images/img-8.png" /></div>
                    <div class="quote_icon">
                      <img src="images/quote-icon.png" />
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <h1 class="loksans_text">loksans</h1>
                    <p class="dolor_ipsum_text">
                      ipsum dolor sit amet, consectetur adipiscing elit, sed
                      veniam, quis nostrud exercitation ullamco laboris nisi ut
                      reprehenderit in voluptate velit
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <h1 class="client_text">what is says our clients</h1>
            <p class="ipsum_text">
              Lorem ipsum dolor sit amet, consectetur adipiscing
            </p>
            <div class="clients_section2 layout_padding">
              <div class="client_1">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="image_7"><img src="images/img-7.png" /></div>
                    <div class="quote_icon">
                      <img src="images/quote-icon.png" />
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <h1 class="loksans_text">loksans</h1>
                    <p class="dolor_ipsum_text">
                      ipsum dolor sit amet, consectetur adipiscing elit, sed
                      veniam, quis nostrud exercitation ullamco laboris nisi ut
                      reprehenderit in voluptate velit
                    </p>
                  </div>
                </div>
              </div>
              <div class="client_2">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="image_7"><img src="images/img-8.png" /></div>
                    <div class="quote_icon">
                      <img src="images/quote-icon.png" />
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <h1 class="loksans_text">loksans</h1>
                    <p class="dolor_ipsum_text">
                      ipsum dolor sit amet, consectetur adipiscing elit, sed
                      veniam, quis nostrud exercitation ullamco laboris nisi ut
                      reprehenderit in voluptate velit
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- client section end -->
  <!-- contact section start -->
  <div class="contact_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="contact_text" id="cont">CONTACT US</h1>
          <div class="mail_sectin">
            <input type="text" class="email-bt" placeholder="Name" name="Name" />
            <input type="text" class="email-bt" placeholder="Email" name="Name" />
            <input
              type="text"
              class="email-bt"
              placeholder="Phone Number"
              name="Name"
            />
            <textarea
              class="massage-bt"
              placeholder="Massage"
              rows="5"
              id="comment"
              name="Massage"
            ></textarea>
            <div class="send_bt"><a href="#">SEND</a></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_main">
            <div class="map-responsive">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.420430970218!2d105.75565247450827!3d9.982086773343747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a08906415c355f%3A0x416815a99ebd841e!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1710835402504!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- contact section end -->
  


<%- include('./layouts/footer.ejs') %>