<!DOCTYPE html>
<html lang="en">


<body>
  
       


        <!-- Navbar & Hero Start -->
       
            <%- include('../layouts/header.ejs') %>
            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Danh mục</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Danh mục</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->





        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                                <h5>Thợ làm bánh</h5>
                                <p>Nổi tiếng là đất nước mộng mơ, lãng mạn, trung tâm văn hóa – nghệ thuật Châu Âu</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                                <h5>Sweet Cake</h5>
                                <p>Với không gian đẹp, yên tĩnh, Tiệm Bánh Xinh thích hợp là nơi để bạn có thể thư giãn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                                <h5>Đặt hàng</h5>
                                <p>Bánh ngon – đẹp – lạ. Bánh ngon, độ ngọt vừa phải, ngon đến từng nụ vị giác.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                                <h5>24/7 Service</h5>
                                <p>Bánh được trang trí sáng tạo và độc đáo, nhân viên nhiệt tình.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        <!-- Footer Start -->
        <%- include('../layouts/footer.ejs') %>
        <!-- Footer End -->


        <!-- Back to Top -->
   